.home-page {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,25,77,1) 51%, rgba(0,212,255,1) 100%);
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
  }
  
  .home-page img {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  
  .home-page h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .home-page p {
    margin-top: 10px;
  }
  
  .home-page select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .home-page button {
    width: 100%;
    padding: 15px 30px;
    border: 1px solid #ccc;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,190,54,1) 100%, rgba(0,212,255,1) 100%);
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
  }

  .home-page button:hover {
    cursor: pointer;
    background: rgb(68,80,62);
    background: linear-gradient(90deg, rgba(68,80,62,1) 20%, rgba(214,127,55,1) 66%, rgba(255,149,0,1) 96%);
   
  }

